@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul class="all auctions">
        <li>@Html.ActionLink("Все аукционы", "Index", "Auction")</li>
    </ul>
    <ul class="create auction">
    <li>@Html.ActionLink("Создать аукцион", "Add", "Auction")</li>
</ul>
</div>
