@using Business_Logic_Layer.Models;
@model WEB_Auction.Models.BidModel

<h2>Сделать ставку</h2>

<form asp-action="MakeBid" asp-controller="Lot" asp-anti-forgery="true">
    <div>
        <div>
            <label asp-for="BidValue">Введите значение</label><br />
            <input type="text" asp-for="BidValue" />
        </div>
        <div>
            <input type="submit" value="Подтвердить ставку" />
        </div>
    </div>
</form>